<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</h1>
<a href="{% url 'home' %}">Home</a> &nbsp;&nbsp;&nbsp;
<a href="{% url 'insert' %}">Insert</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'record' %}">Display Rec</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'update' %}">Update</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'delete' %}">Delete</a>
</h1>
<br><br><br>
    <h1>Welcome to the student record page</h1>
</body>
</html>