<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>	www.web.com</title>
	<link rel="stylesheet" type="text/css" href="CSS/form1.css">
</head>
<body>
	
	<center><h1>fill the Form</h1></center>
<center><form>	


 Enter name :<input type="text" placeholder="*User name or Email address"><br><br><br><br>	
 Enter age:<input type="text" placeholder="User age"><br><br><br><br>
 Enter Email:<input type="text" placeholder="User email"><br><br><br><br>	
 Add  image:<input type="text"><br><br><br><br>
<p>
    <br><br>
 <button type="Cancel" class="button2"> Sign in </button>
</form><br><br>
	</table></center>
</body>
</html>