<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br><br>
<h1 align="center"><font color="Green"><u>LIST OF THE Record</u></font></h1>

<center>
<table border="1" width="60%" height="200px" bordercolor="Red" bgcolor="Cyan">
<tr>
<th>S.NO</th>
<th>&nbsp;Name</th>
<th>&nbsp;AGE</th>
<th>&nbsp;Email</th>
<th>&nbsp;image</th>
<th>&nbsp;update</th>
<th>&nbsp;delete</th>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><a href="{% url 'update' %}">Update</a></td>
<td><a href="{% url 'delete' %}">Delete</a></td>
</tr></table>
</body>
</html>